@tailwind base;
@tailwind components;
@tailwind utilities;

/* small custom styles */
:root {
  --card-bg: #ffffff;
  --muted: #6b7280;
}

body {
  @apply bg-gray-50 text-gray-800;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
